{
    "extends": [
        "@remix-run/eslint-config",
        "@remix-run/eslint-config/node",
        "prettier",
        "plugin:drizzle/all"
    ],
    "plugins": ["drizzle"],
    "ignorePatterns": ["/node_modules", "/build", "/public/build"],
    "parserOptions": {
        "warnOnUnsupportedTypeScriptVersion": false
    },
    "rules": {
        "@typescript-eslint/no-unused-vars": "warn",
        "drizzle/enforce-delete-with-where": [
            "error",
            {
                "drizzleObjectName": "db"
            }
        ]
    }
}
