@import "~/tailwind.css";

html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI (Custom)", Roboto,
        "Helvetica Neue", "Open Sans (Custom)", system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji";
    font-weight: 300;
    caret-color: hsl(var(--accent-foreground));
}

.faded-edge {
    --mask: radial-gradient(
            rgba(0, 0, 0, 1) 0,
            rgba(0, 0, 0, 1) 40%,
            rgba(0, 0, 0, 0) 90%,
            rgba(0, 0, 0, 0) 0
        )
        100% 50% / 100% 100% repeat-x;

    -webkit-mask: var(--mask);
    mask: var(--mask);
}

.pixel-image {
    image-rendering: pixelated;
}
