@import "@itsmapleleaf/radix-themes/styles.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.dark body,
.dark #theme {
    --color-page-background: black;
    --color-panel: black;
    --color-surface: black;
    --cursor-button: pointer;
}

input {
    caret-color: var(--accent-8);
}

.faded-edge {
    --mask: radial-gradient(
            rgba(0, 0, 0, 1) 0,
            rgba(0, 0, 0, 1) 40%,
            rgba(0, 0, 0, 0) 90%,
            rgba(0, 0, 0, 0) 0
        )
        100% 50% / 100% 100% repeat-x;

    -webkit-mask: var(--mask);
    mask: var(--mask);
}

.pixel-image {
    image-rendering: pixelated;
}

.no-card-padding {
    --card-padding: 0;
}

.rt-TextFieldChrome {
    background-image: none;
}
